html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: var(--dark, #222831);
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header {
  margin: 0 auto;
  width: 1400px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 33px 33px 0;
}
.header__logo {
  padding: 0px 12px;
  color: #000000;
  background-color: rgba(0, 255, 255, 0.699);
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.nav__link:hover {
  color: rgba(0, 255, 255, 0.699);
}

.about {
  margin: -88px auto;
  background-image: url(../resources/Group4.png);
  width: 1400px;
  height: 935px;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__hello {
  position: absolute;
  margin-top: 118px;
  padding-left: 20px;
  font-family: "Amatic SC", cursive;
  color: rgba(57, 62, 70, 0.6);
  font-size: 290px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 390px 0 0 33px;
  position: absolute;
}

.about__title {
  width: 520px;
  height: 230px;
  color: rgba(0, 255, 255, 0.699);
  font-size: 45px;
  line-height: 70px;
  letter-spacing: -0.036em;
}

.about__title-color {
  color: #ffffff;
}

.about__title-border {
  position: absolute;
  width: 203px;
  height: 7px;
  background-color: rgba(0, 173, 181, 1);
  border-radius: 5px;
}
.about__title-size-text {
  margin-top: 12px;
  width: 250px;
  color: #ffffff;
  font-weight: 400;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: -0.03em;
}

.about__description {
  width: 520px;
  height: 122px;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.projects {
  margin-top: 190px;
}

.title {
  margin-top: 150px;
  margin-bottom: 45px;
  width: 60%;
  color: #ffffff;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.project__link {
  display: block;
  width: 1150px;
  height: 550px;
  border: 4px solid rgba(0, 255, 255, 0.699);
  border-radius: 48px;
  text-decoration: none;
}

.project__link:hover {
  background-color: rgba(0, 255, 255, 0.699);
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}

.projects__list {
  margin: 3px 4px;
  background-size: cover;
  width: 1135px;
  height: 537px;
  background-image: url(../resources/Metrica.png);
  border-radius: 40px;
}

.project__label {
  position: absolute;
  margin: 50px 0 0 43px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid aqua;
  padding: 20px;
  letter-spacing: -0.6px;
  border-radius: 100px;
}

.project__name {
  padding-top: 410px;
  padding-left: 43px;
  color: aqua;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
}

.project__works {
  padding-left: 43px;
  color: aqua;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: -0.03em;
}

.project__button {
  display: block;
  margin-top: 80px;
  padding: 57px 85px;
  width: 582px;
  height: 153px;
  color: black;
  border: 1px solid aqua;
  background-color: aqua;
  border-radius: 25px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -0.03em;
}
.project__button:hover {
  color: aqua;
  background-color: var(--dark, #222831);
}

.skill__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.skill {
  flex: 1 0 calc(50% - 50px);
  max-width: 861px;
}

.skill__name {
  margin-bottom: 15px;
  color: aqua;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.03em;
}

.skill__description {
  color: #ffffff;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
}

.service_image {
  margin-top: 74px;
  padding: 5px;
  width: 1150px;
  height: 200px;
  border: 3px solid aqua;
  border-radius: 37px;
  text-align: center;
}

.picture_size {
  width: 1130px;
  height: 184px;
}

.service_background {
  margin-top: 5px;
  width: 1150px;
  height: 283px;
  background: #191c19;
  border-radius: 37px;
}

.service_text {
  padding: 40px 0 0 40px;
  width: 1048px;
  height: 114px;
  color: aqua;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.service_subtitle {
  padding: 15px 0 0 40px;
  width: 749px;
  height: 116px;
  color: #ffffff;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
}

.indent_service_background {
  margin-bottom: 150px;
}

.contact_backgroung_image {
  margin-bottom: 150px;
  width: 100%;
  height: 717px;
  border-radius: 37px;
  background-color: #191c19;
  background-image: url(../resources/contact_section.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.contact_text {
  margin-left: 100px;
  padding-top: 110px;
  color: #ffffff;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

.link_contact {
  display: flex;
  margin-top: 70px;
  margin-left: 100px;
  width: 367px;
  height: 54px;
  align-items: flex-end;
  text-decoration: none;
}

.contact_icon {
  padding-bottom: 7px;
}
.link_contact_text:hover {
  border-bottom: 3px solid aqua;
}

.link_contact_text {
  margin-left: 10px;
  padding-bottom: 7px;
  color: white;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}

.footer {
  height: 223px;
  border-radius: 37px 37px 0 0;
  background-color: #ffffff;
}
.footer_title {
  padding-top: 70px;
  padding-left: 130px;
  color: black;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.footer_subtitle {
  margin-top: 66px;
  margin-left: 130px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.5;
}
