body {
    width: 100%;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 1150px;
}

.background {
    position: relative;
    width: 100%;
    height: 765px;
    background-image: url(../resources/project_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.navi-header {
    display: flex;
    margin: 0 auto;
    padding-top: 33px;
}
.logo {
    display: block;
    margin-right: 450px;
    padding: 0px 12px;
    width: 228px;
    background-color: rgba(0, 255, 255, 0.699);
    border-radius: 100px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    text-align: center;
}

.nav-link {
    margin-right: 50px;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-decoration: none;
}

.nav-link:hover {
    color: rgba(0, 255, 255, 0.699);
}

.about-wpapper {
    position: relative;
}

.aboutme {
    position: absolute;
    top: 247px;
    width: 430px;
    height: 103px;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.03em;
}

.about-text {
    position: absolute;
    top: 378px;
    width: 919px;
    height: 205px;
    color: rgba(0, 255, 255, 0.699);
    font-size: 80px;
    line-height: 70px;
    letter-spacing: -0.036em;
}